<!DOCTYPE html>
<html lang="et">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>{{ page.title }} - 4lammast</title>
  <link rel="stylesheet" href="/assets/stiil.css">
</head>
<body>

  <img src="/4lammast.svg" height=50><br>
  <h1>{{ page.title }}</h1>
  <main>{{ content }}</main>
  <div id="muru"></div>
</body>
</html>
